<div class="container">
    <br><br><br>

    <div class="container-change">

        <div class="title" *ngIf="verifyPassword">Ingrese su contraseña Actual</div>
        <div class="title-new" *ngIf="changePassword">Ingrese la nueva contraseña</div>

        <div class="container-inputs">
        <input type="password" class="input"*ngIf="verifyPassword" [(ngModel)]="password" placeholder="Ingrese su contraseña Actual"><br>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Nueva contraseña" class="input" *ngIf="changePassword"><br>
        <input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" placeholder="Confirmar nueva contraseña" class="input" *ngIf="changePassword"><br>

        </div>

        <div class="buttons">
            <button class="buttonBack-design" (click)="backHome()">Volver</button>
            <button class="button-design"*ngIf="verifyPassword" (click)="VerifyPassword()">Confirmar</button>
            <button class="button-design"*ngIf="changePassword" (click)="ChangePassword()">Confirmar</button>
        </div>

    </div>
</div><br>